<div class="row">
  <div class="col-md-3">
    <img id="project-photo" src="">
  </div>

  <div class="col-md-9">
    <form id="edit-project" form="role">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="photo"></label>
          <input type="file" name="project[project_file_path]" id="photo"
                 class="form-control image-input">
           <input
             type="hidden"
             name="project[project_photo]"
             id="put-photo-here">
        </div>

        <div class="form-group">
          <label for="title">Title</labe>
          <input readonly="readonly"
                 class="form-control"
                 id="title"
                 value="<%=project.escape('title')%>">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="project[description]"
                    id="description"
                    value="<%=project.escape('description')%>"
                    class="form-control"></textarea>
        </div>

        <div class="form-group">
        <div class="input-group">
          <label for="funding-goal">Goal</label>
          <span class="input-group-addon">$</span>
          <input readonly="readonly"
                 id="funding-goal"
                 value= "<%=project.escape('funding_goal')%>"
                 class="form-control">
        </div>
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select name="project[category]"
                  id="category"
                  class="form-control">
            <option value="casual" <%="selected='selected'" && project.escape('category') == 'casual'%>>
            Casual
            </option>
            <option value="fashion" <%= "'selected=selected'" && project.escape('category') == 'fashion'%>>
            <option value="basketball" <%="selected='selected'" && project.escape('category') == 'basektabll'%>>
            Basketball
            </option>
            <option value="skateboarding" <%="selected='selected'" && project.escape('category') == 'skateboarding'%>>
            Skateboarding
            </option>
            <option value="baseball" <%="selected='selected'" && project.escape('category') == 'baseball'%>>
            Baseball
            </option>
            <option value="football" <%="selected='selected'" && project.escape('category') == 'football'%>>
            Football
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="duration">Duration</label>
          <input type="text"
                 name="project[duration]"
                 id="duration"
                 value="<%= project.escape('duration')%>">
        </div>

          <input type="submit" value="Update" class="btn btn-primary">
      </div>
    </form>
  <div>

</div>
