<div class="staff-picks-index">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content staff-picks">
          <div class="tab-pane fade active in" id="casual-design">
            <h3>Staff Picks:Casual</h3>

              <div class="card">
                <div class="row">
                  <div class="col-md-6 photo">
                    <a href="">
                      <img src="project/image">
                    </a>
                  </div>
                  <div class="col-md-6 body">
                    <h4>
                      <a href="p">Project Name</a>
                    </h4>
                    <p class="desc">Summary of project</p>
                    <p>
                      <span class="glyphicon glyphicon-marker"></span>
                      <span class="preview-location">City, ST</span>
                    </p>
                    <div class="divider">
                      <div class="progress-bar" style="width: 0%">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        %
                        <p class="grey-dark">funded</p>
                      </div>
                      <div class="col-md-3">
                        $
                        <p class="grey-dark">raised</p>
                      </div>
                      <!-- <div class="col-md-3">
                      </div> if successful toggle and remove days to go? -->
                      <div class="col-md-3">
                        x
                        <p class="grey-dark">days to go</p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <div class="tab-pane fade" id="basketball-design">
            <h3>Staff Picks:Basketball</h3>
            <div class="card">

            </div>
          </div>
          <div class="tab-pane fade" id="skateboarding-design">
            <h3>Staff Picks:Skateboarding</h3>
            <div class="card">

            </div>
          </div>
          <div class="tab-pane fade" id="baseball-design">
            <h3>Staff Picks:Baseball</h3>
            <div class="card">

            </div>
          </div>
          <div class="tab-pane fade" id="football-design">
            <h3>Staff Picks:Football</h3>
            <div class="card">

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <ul class="staff-picks-nav">
        <li class="active">
          <a href="#casual-design" data-toggle="tab">
            Casual
          </a>
        </li>
        <li>
          <a href="#basketball-design" data-toggle="tab">
            Basketball
          </a>
        </li>
        <li>
          <a href="#skateboarding-design" data-toggle="tab">
            Skateboarding
          </a>
        </li>
        <li>
          <a href="#baseball-design" data-toggle="tab">
            Baseball
          </a>
        </li>
        <li>
          <a href="#football-design" data-toggle="tab">
            Football
          </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <% projects.each(function(project) { %>


    <div class="col-sm-7 col-md-3 project-card">
      <div class="thumbnail">
        <a href="#/projects/<%=project.escape('id')%>">
          <img src="<%= project.escape('medium_url')%>" alt="<%=project.escape('title')%>">
        </a>
        <div class="caption">
          <h3 class="project-title"><%= project.escape('title')%></h3>
          <h6 class="founder-name grey-dark">by <%= project.escape('founder_name')%></h6>
          <p class="project-description grey-dark"><%=project.escape('description')%></p>

          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="60"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: <%=project.percentFunded()%>">
            </div>
          </div>
          <ul class="no-margin project-stats list no-margin h6 no-wrap">
            <li class="inline-block">
              <strong class="block h6"><%= project.percentFunded() %></strong>
              <span class="grey-dark">funded</span>
            </li>

            <li class="inline-block">
              <strong class="block h6"><%= project.escape('amount_raised') %></strong>
              <span class="grey-dark">pledged</span>
            </li>

            <li class="inline-block">
              <strong class="block h6"><%=project.daysLeft()%></strong>
              <span class="grey-dark">days to go</span>
            </li>

          </ul>
        </div>
      </div>
    </div>
  <% }) %>
</div>





<div class="row center-block popular-projects">
</div>
